.subway-map {
  background: url("../images/mta_map_720.png");
  height: 600px;
  width: 400px;
  background-size: cover;
  display: inline-block;
  border: 1px solid black;
  vertical-align: top;
  margin-left: 800px;
}

.output {
  display: inline-block;
  height: 100px;
  width: 200px;
  border: 1px solid black;
}

.form-control {
  width: 200px;
}

.stations {
  width: 200px;
}

.interaction {
  display: inline-block;
  border: 1px solid black;
  width: 200px;
  margin-left: 500px;
}

.hidden {
  display: none;
}


